ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    height: 900px;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
}

.item {
    border: black solid 1px;
    width: 13%;
    margin: 10px;
}

li {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.rubi {
    border-bottom: black solid 1px;
    font-size: 20px;
    padding: 5px;
}

.white {
    border: none;
}

.white > .rubi {
    border: none;
}

.teacher {
    border: black solid 1px;
    width: 5em;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    font-size: 30px;

}

.pic1 {
    display: none;
}

small {
    font-size: 20px;
}

p {
    width: 20%;
    margin: 10px 95% 10px 5%;
}

.title {
    width: 11em;
    margin: 10px auto;
    font-size: 2em;
}